# SQL-4
### Data Definition Lanaguage (DDL)
* Data types in SQL
* Creating, deleting, and updating tables
* Views 
* Constraints

---

## Prepare the environment

---

In [1]:
pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.5.0)
Requirement already satisfied: psycopg2 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.9.9)
Requirement already satisfied: prettytable in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (8.20.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: sqlparse in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: decorator in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: exceptiongroup in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (1.2.0)
Requirement already satisfied: colorama in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\ayushman kumar singh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2 -> 24.0
[notice] To update, run: C:\Users\Ayushman kumar singh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

First create a new database from command line

postgres# `create database cricdb;`

In [4]:
%sql postgresql://postgres:ed4bdc3d@localhost:5432/cricdb

---
## Data types in SQL
---

### Basic Types
* char($n$) or character($n$)
* varchar($n$) or varying character($n$)
* int or integer
* smallint
* numeric($m,n$) $m \implies$ number of digits, and $n \leq m \implies$ number of digits that are to the right of the decimal point
* float($n$) floating point number of $n$ digits
* real, double precision

Note: Each type may include a **null** value


### Other data types
* date
* time
* timestamp
* clob
* blob
* user-defined types

---

char vs varchar- > varchar to save space

## Creating/Updating/Deletions
```
create table table_name (
    attribute_1 data_type_1,
    attribute_2 data_type_2,
    ...
    attribute_n data_type_n
)
```

In [ ]:

%%sql create table player (
    player_id integer,
    first_name varchar(25),
    last_name varchar(25),
    dob date,
    team_id integer
)

In [ ]:
%sql select * from pg_catalog.pg_tables limit 10;

In [ ]:
%%sql create table team (
    team_id integer,
    team_name varchar(50),
    team_owner varchar(50)
)

Lets insert some values into the two relations

In [24]:
%%sql insert into player values
    (1, 'Hardik', 'Pandya', '1993-10-11', 101),
    (2, 'MS', 'Dhoni', '1981-07-07', 102),
    (3, 'Rohit', 'Sharma', '1987-04-30', 101),
    (4, 'Ruturaj', 'Gaikwad', '1997-01-31', 102);

 * postgresql://postgres:***@localhost:5432/cricdb
(psycopg2.errors.CheckViolation) new row for relation "player" violates check constraint "player_dob_check"
DETAIL:  Failing row contains (2, MS, Dhoni, 1981-07-07, 102).

[SQL: insert into player values
    (1, 'Hardik', 'Pandya', '1993-10-11', 101),
    (2, 'MS', 'Dhoni', '1981-07-07', 102),
    (3, 'Rohit', 'Sharma', '1987-04-30', 101),
    (4, 'Ruturaj', 'Gaikwad', '1997-01-31', 102);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [ ]:
%%sql insert into team values
    (101, 'Mumbai Indians', 'Reliance Industry Ltd'),
    (102, 'Chennai Super Kings', 'India Cements Ltd'),
    (103, 'Delhi Capitals', 'JSW Sports')
    ;

In [ ]:
%sql select * from team

### Deletions

```
delete from table_name
    where condition;
```

Detele all players from team `102`

In [ ]:
%%sql delete from player
where team_id = 102;

In [ ]:
%%sql delete from player
where team_id IN (
    select team_id from team where team_name = 'Delhi Capitals'
);

### Updating tables
* Change value in a tuple

In [10]:
%sql select * from player;

 * postgresql://postgres:***@localhost:5432/cricdb
4 rows affected.

[(2, 'MS', 'Dhoni', datetime.date(1981, 7, 7), 102),
 (4, 'Ruturaj', 'Gaikwad', datetime.date(1997, 1, 31), 102),
 (50, 'Rohit', 'Sharma', datetime.date(1987, 4, 30), 101),
 (9, 'Jasprit', 'Bhumra', datetime.date(1981, 7, 7), 101)]

scalar query for update -> one row and one column

In [11]:
%%sql update player
set team_id = 102
where player.first_name = 'Rohit' and player.last_name = 'Sharma';

 * postgresql://postgres:***@localhost:5432/cricdb
1 rows affected.

[]

In [12]:
%sql select * from player;

 * postgresql://postgres:***@localhost:5432/cricdb
4 rows affected.

[(2, 'MS', 'Dhoni', datetime.date(1981, 7, 7), 102),
 (4, 'Ruturaj', 'Gaikwad', datetime.date(1997, 1, 31), 102),
 (9, 'Jasprit', 'Bhumra', datetime.date(1981, 7, 7), 101),
 (50, 'Rohit', 'Sharma', datetime.date(1987, 4, 30), 102)]

### Altering tables

```
alter table table_name add attribute data_type
alter table table_name drop attribute
delete from table_name
drop table table_name
```

Add a new attribute `position` to the relation `player`

In [13]:
%sql alter table player add position smallint;

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

cannot add constraints while adding a new column

In [14]:
%sql select * from player;

 * postgresql://postgres:***@localhost:5432/cricdb
4 rows affected.

[(2, 'MS', 'Dhoni', datetime.date(1981, 7, 7), 102, None),
 (4, 'Ruturaj', 'Gaikwad', datetime.date(1997, 1, 31), 102, None),
 (9, 'Jasprit', 'Bhumra', datetime.date(1981, 7, 7), 101, None),
 (50, 'Rohit', 'Sharma', datetime.date(1987, 4, 30), 102, None)]

Q: Update the `position` values in the `player` relation.

In [15]:
%sql update player set position = 4 where player_id = 1;
%sql update player set position = 1 where player_id = 3;
%sql update player set position = 3 where player_id = 2;

 * postgresql://postgres:***@localhost:5432/cricdb
0 rows affected.
 * postgresql://postgres:***@localhost:5432/cricdb
0 rows affected.
 * postgresql://postgres:***@localhost:5432/cricdb
1 rows affected.

[]

In [16]:
%sql alter table player drop position;

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

---
## Views

Two type of views
1. Virtual views
2. Materialized views

CTE stays only within the scope f the recursive query, whereas views remain permanently untill delrtion

Create a view `top_mi_csk_players` (top order batters from 'Mumbai Indians' and 'Chennai Super Kings')

In [22]:
%%sql create view top_mi_csk_players as
select first_name, last_name, team_name 
from player join team on player.team_id = team.team_id
where team_name = 'Mumbai Indians' or team_name = 'Chennai Super Kings'
;

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

In [23]:
%sql select * from top_mi_csk_players;

 * postgresql://postgres:***@localhost:5432/cricdb
0 rows affected.

[]

To create a materialized view,
``` create materialized view as <query>```

* Q. What is the difference between a view and the CTE defined in `WITH` clause?

---
## Integrity Constraints
* Crucial for data consistency
* Usually a part of schema design and is specified with `create table` statement

In [19]:
%sql insert into player values (1, 'Hardik', 'Pandya', null, null);

 * postgresql://postgres:***@localhost:5432/cricdb
(psycopg2.errors.NotNullViolation) null value in column "dob" of relation "player" violates not-null constraint
DETAIL:  Failing row contains (1, Hardik, Pandya, null, null).

[SQL: insert into player values (1, 'Hardik' , 'Pandya' , null, null);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [20]:
%sql select * from player;

 * postgresql://postgres:***@localhost:5432/cricdb
0 rows affected.

[]

In [14]:
# We firt need to drop al the dependent veiws
# %sql drop view top_mi_csk_players;
# %sql drop view mi_players;
%sql drop table player;
%sql drop table team;

 * postgresql://postgres:***@localhost:5432/cricdb
(psycopg2.errors.UndefinedTable) table "player" does not exist

[SQL: drop table player;]
(Background on this error at: https://sqlalche.me/e/20/f405)
 * postgresql://postgres:***@localhost:5432/cricdb
(psycopg2.errors.UndefinedTable) table "team" does not exist

[SQL: drop table team;]
(Background on this error at: https://sqlalche.me/e/20/f405)

### Common constraints
* not null
* unique
* check(*condition*)
* referential-integrity

In [18]:
%%sql create table player (
    player_id integer not null,
    first_name varchar(25) not null,
    last_name varchar(25) not null,
    dob date not null,
    team_id integer,
    primary key (player_id),
    unique(player_id, dob),
    check (dob > '1990-01-31'),
    foreign key (team_id) references team (team_id)
)

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

primary keys al always not null
foriegn key has to be a primary key of the other table

In [16]:
%sql drop table if exists team

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

In [17]:

%%sql create table team (
    team_id integer,
    team_name varchar(50) not null,
    team_owner varchar(50) not null,
    primary key (team_id)
)

 * postgresql://postgres:***@localhost:5432/cricdb
Done.

[]

---

## Exercises

* Q: Create or update the database `cricdb`, by adding more relations. Take the ERD discussed in class as an example.
* Q. Try different DDL statements
* Q. Try update statements on view. What will happen when you update the view `top_mi_csk_players` as ('5', 'Ravindra', 'Jadeja')? Will it update the "base" tables?
* Q. Try updating schema of an existing relation by adding a constraint? what happens if the existing values don't satisfy the constraints?
* Q. Write some insert statements to violate different types of constraints.
* Q. What happens when you delete a table, which has been used in query definition of a view?
* Q. What happens when you a delete a tuple from `player` relation with foreign key constraint?